{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    {% block pregroup %}
      <!-- group_detail.html goes here -->
      <!-- first part of group_list.html goes here -->
    {% endblock %}

    {% block group_content %}
      <!-- group_form.html goes here -->
      <!-- Second part of group_detail.html goes here -->
      <!-- Second part of group_list.html goes here -->

    {% endblock %}

    {% block postgroup  %}

    {% endblock %}
  </div>
</div>
{% endblock %}
